<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
  {{!-- <div class="navbar">
    <div class="nav-left">
      <h1>Runner</h1>
    </div>
    <div class="nav-right">
      <ul class="nav-right-ul">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/secret">Secret</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </div>
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div> --}}
  {{>navbar}}
  <!-- Section -->
  <div class="section">
    <div class="section-content">
      <h1>Secret</h1>
    </div>
    <div class="llogin">
      <div class="lheader">
        <h1>Login Here</h1>
      </div>
      <div class="lcontent container">
        <br>
        <br>
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <br>
    <br>
    <br>
 <!-- Footer -->

    {{>contact}}
</body>
<script>
  const burger = document.querySelector(".burger");
  const navbar = document.querySelector(".navbar");
  const nav_right = document.querySelector(".nav-right");
  burger.addEventListener("click", () => {
    navbar.classList.toggle("h-nav");
    nav_right.classList.toggle("v-nav");
  });
</script>

</html>