<div class="navbar">
    <div class="nav-left">
      <h1>Runner</h1>
    </div>
    <div class="nav-right">
      <ul class="nav-right-ul">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">LogOut</a></li>
        <li><a href="/secret">Secret</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </div>
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>